[defaults]
inventory = inventory.yml
host_key_checking = false
remote_user = user
timeout = 30

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = true
